# Oakland 311 calls, part 2

## Import modules

In [1]:
import pandas as pd
import altair as alt

/Users/KaylaDong/.pyenv/versions/3.8.5/envs/lecture_06-3.8.5/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

## Import data

Import the clean version of oakland 311 calls data and set up dtypes.

In [2]:
oakland_311 = pd.read_csv('oakland_311_clean.csv',
    dtype = {
        'REQUESTID': object,
    },
    parse_dates = ['DATETIMEINIT', 'DATETIMECLOSED', 'Close_Time']                       
)

Check the data.

In [3]:
oakland_311.head()

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQCATEGORY,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Close_Time
0,927708,2019-07-24 07:34:04,SeeClickFix,Parking - Abandoned Vehicle,POLICE,"(37.83332450468423, -122.26187389355277)",CLOSED,NaN,2019-09-30 10:25:11,6052877.252,2130683.728,CCD1,12X,479 45TH ST,Oakland,CA,68 days 02:51:07
1,930512,2019-08-01 13:38:16,SeeClickFix,Illegal Dumping � mattress/boxspring,ILLDUMP,"(37.80947700189105, -122.29480799834606)",CLOSED,NaN,2019-08-04 10:38:05,6043201.257,2122182.593,CCD3,02Y,1117 CHESTER ST,Oakland,CA,2 days 20:59:49
2,928898,2019-07-28 09:20:50,SeeClickFix,Human Waste in Public-Right-of-Way,OTHER,"(37.759826001279855, -122.16106799755731)",REFERRED,"ADVANCE CRIME SCENE, RESTORATION EST",NaT,6081509.580,2103393.102,CCD7,35X,8601 SENECA ST,Oakland,CA,NaN
3,930760,2019-08-02 10:13:45,Phone,City Bldg - Structural Issue,BLDGMAINT,"(37.74458491831174, -122.16914534319535)",CLOSED,NaN,2019-10-28 11:30:12,6079075.972,2097885.948,CCD7,32X,HOLLY MINI PARK,Oakland,CA,87 days 01:16:27
4,923520,2019-07-11 08:45:50,SeeClickFix,Streets - Potholes/Depression,STREETSW,"(37.780819708391476, -122.22030767672499)",CANCEL,NaN,NaT,6064527.852,2111345.419,CCD5,23X,E 18TH ST,Oakland,CA,NaN

In [4]:
oakland_311.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852673 entries, 0 to 852672
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REQUESTID        852673 non-null  object
 1   DATETIMEINIT     852673 non-null  datetime64[ns]
 2   SOURCE           852673 non-null  object
 3   DESCRIPTION      852673 non-null  object
 4   REQCATEGORY      852592 non-null  object
 5   REQADDRESS       836786 non-null  object
 6   STATUS           852672 non-null  object
 7   REFERREDTO       70172 non-null   object
 8   DATETIMECLOSED   610875 non-null  datetime64[ns]
 9   SRX              836786 non-null  float64
 10  SRY              836786 non-null  float64
 11  COUNCILDISTRICT  809829 non-null  object
 12  BEAT             812291 non-null  object
 13  PROBADDRESS      852196 non-null  object
 14  City             852673 non-null  object
 15  State            852673 non-null  object
 16  Close_Time       610875 non-null  object
dtypes: datetime64[ns](2), float64(2), object(13)
memory usage: 110.6+ MB

The Close_Time column was not typed as timedelta, so still need to convert it.

In [5]:
oakland_311['Close_Time'] = pd.to_timedelta(oakland_311['Close_Time'])

Check the result.

In [6]:
oakland_311.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852673 entries, 0 to 852672
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   REQUESTID        852673 non-null  object
 1   DATETIMEINIT     852673 non-null  datetime64[ns]
 2   SOURCE           852673 non-null  object
 3   DESCRIPTION      852673 non-null  object
 4   REQCATEGORY      852592 non-null  object
 5   REQADDRESS       836786 non-null  object
 6   STATUS           852672 non-null  object
 7   REFERREDTO       70172 non-null   object
 8   DATETIMECLOSED   610875 non-null  datetime64[ns]
 9   SRX              836786 non-null  float64
 10  SRY              836786 non-null  float64
 11  COUNCILDISTRICT  809829 non-null  object
 12  BEAT             812291 non-null  object
 13  PROBADDRESS      852196 non-null  object
 14  City             852673 non-null  object
 15  State            852673 non-null  object
 16  Close_Time       610875 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), object(12), timedelta64[ns](1)
memory usage: 110.6+ MB

In [7]:
oakland_311

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQCATEGORY,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Close_Time
0,927708,2019-07-24 07:34:04,SeeClickFix,Parking - Abandoned Vehicle,POLICE,"(37.83332450468423, -122.26187389355277)",CLOSED,NaN,2019-09-30 10:25:11,6052877.252,2130683.728,CCD1,12X,479 45TH ST,Oakland,CA,68 days 02:51:07
1,930512,2019-08-01 13:38:16,SeeClickFix,Illegal Dumping � mattress/boxspring,ILLDUMP,"(37.80947700189105, -122.29480799834606)",CLOSED,NaN,2019-08-04 10:38:05,6043201.257,2122182.593,CCD3,02Y,1117 CHESTER ST,Oakland,CA,2 days 20:59:49
2,928898,2019-07-28 09:20:50,SeeClickFix,Human Waste in Public-Right-of-Way,OTHER,"(37.759826001279855, -122.16106799755731)",REFERRED,"ADVANCE CRIME SCENE, RESTORATION EST",NaT,6081509.580,2103393.102,CCD7,35X,8601 SENECA ST,Oakland,CA,NaT
3,930760,2019-08-02 10:13:45,Phone,City Bldg - Structural Issue,BLDGMAINT,"(37.74458491831174, -122.16914534319535)",CLOSED,NaN,2019-10-28 11:30:12,6079075.972,2097885.948,CCD7,32X,HOLLY MINI PARK,Oakland,CA,87 days 01:16:27
4,923520,2019-07-11 08:45:50,SeeClickFix,Streets - Potholes/Depression,STREETSW,"(37.780819708391476, -122.22030767672499)",CANCEL,NaN,NaT,6064527.852,2111345.419,CCD5,23X,E 18TH ST,Oakland,CA,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
852668,921970,2019-07-07 11:57:45,SeeClickFix,Parking - Enforcement,PARKING,"(37.796293496626504, -122.2725785428372)",GONE ON ARRIVAL,NaN,NaT,6049530.979,2117260.646,CCD3,01X,308 4TH ST,Oakland,CA,NaT
852669,930717,2019-08-02 08:58:15,SeeClickFix,Parking - Abandoned Vehicle,POLICE,"(37.81960600132651, -122.27702919438389)",CLOSED,NaN,2019-09-03 09:14:03,6048406.421,2125772.131,CCD3,07X,2825 MARKET ST,Oakland,CA,32 days 00:15:48
852670,928953,2019-07-28 16:50:48,SeeClickFix,Parking - Abandoned Vehicle,POLICE,"(37.75789339999198, -122.1766678975261)",CLOSED,NaN,2019-12-26 13:18:26,6076988.064,2102769.930,CCD6,30X,7924 plymouth st,Oakland,CA,150 days 20:27:38
852671,920576,2019-07-01 16:27:51,Phone,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.7697750419514, -122.18324682258614)",CLOSED,NaN,2019-07-01 20:08:55,6075164.293,2107129.719,CCD6,30X,66TH AVE & BANCROFT AVE,Oakland,CA,0 days 03:41:04
852672,919254,2019-06-27 10:24:31,SeeClickFix,Street Light - Outage/Damaged,ELECTRICAL,"(37.84077618000984, -122.2688993400894)",CLOSED,NaN,2019-07-05 14:57:56,6050899.986,2133434.859,CCD1,11X,764 56TH ST,Oakland,CA,8 days 04:33:25

## Explore the data

Try to do some analysis on the data first.

### Categories of incidents in 2020

Generate different categories of data in 2020.

First, create a new dataframe oakland_311_2020 that limits the the data to just the cases that were open in 2020.

In [8]:
oakland_311_2020 = oakland_311[
    (oakland_311['DATETIMEINIT'] >= '2020-01-01') &
    (oakland_311['DATETIMEINIT'] < '2021-01-01')
].copy()

Check the new dataframe.

In [9]:
oakland_311_2020

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQCATEGORY,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Close_Time
4173,1060662,2020-10-28 08:21:55,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.75323385547596, -122.19384238019262)",CLOSED,NaN,2020-10-30 18:00:34,6071993.226,2101162.977,CCD7,26Y,867 75TH AVE,Oakland,CA,2 days 09:38:39
4600,1062200,2020-11-02 14:52:43,SeeClickFix,Graffiti in a Park,BLDGMAINT,"(37.812123848908904, -122.2964765366319)",CANCEL,NaN,NaT,6042737.826,2123155.443,CCD3,02Y,1672 13TH ST,Oakland,CA,NaT
6241,1057742,2020-10-19 08:13:43,Phone,Tree - Limb Down,TREES,"(37.73314054386291, -122.13660759117438)",CLOSED,NaN,2020-10-21 13:09:41,6088409.592,2093553.319,CCD7,35Y,328 MARLOW DR,Oakland,CA,2 days 04:55:58
14387,1064947,2020-11-12 15:01:32,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.76689859111662, -122.21140629165139)",CLOSED,NaN,2020-11-16 14:40:10,6067007.217,2106230.130,CCD5,26X,1058 50TH AVE,Oakland,CA,3 days 23:38:38
24528,1060772,2020-10-28 11:48:51,Phone,Illegal Dumping � mattress/boxspring,ILLDUMP,"(37.76206734586794, -122.17270386111848)",CLOSED,NaN,2020-10-29 21:39:07,6078160.999,2104269.000,CCD6,30X,RITCHIE ST & BANCROFT AV,Oakland,CA,1 days 09:50:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228950,1074633,2020-12-17 16:03:48,Phone,Parking Meter - Other/Complex,METER_REPAIR,NaN,CLOSED,NaN,2021-01-20 10:49:59,NaN,NaN,NaN,NaN,MACARTHUR & CHAMPION,Oakland,CA,33 days 18:46:11
228951,1075542,2020-12-22 09:37:22,Voicemail,Recycling Hotline - Miscellaneous,RECYCLING,NaN,CLOSED,NaN,2020-12-22 09:37:31,NaN,NaN,NaN,NaN,ZZ,Oakland,CA,0 days 00:00:09
228952,1075690,2020-12-22 16:16:36,SeeClickFix,Graffiti in a Park,BLDGMAINT,NaN,WOCREATE,NaN,NaT,NaN,NaN,NaN,NaN,LAKESIDE PARK,Oakland,CA,NaT
228953,1075885,2020-12-23 12:45:16,Phone,Street Light - Outage/Damaged,ELECTRICAL,NaN,CLOSED,NaN,2020-12-24 08:27:50,NaN,NaN,NaN,NaN,4120 WALNUT ST,Oakland,CA,0 days 19:42:34
228954,1077468,2020-12-31 10:30:39,Phone,City Bldg - Sign,BLDGMAINT,NaN,CLOSED,NaN,2021-03-04 08:49:48,NaN,NaN,NaN,NaN,FIRE STATION 21,Oakland,CA,62 days 22:19:09

Reset the index to make it sequential again.

In [10]:
oakland_311_2020 = oakland_311[
    (oakland_311['DATETIMEINIT'] >= '2020-01-01') &
    (oakland_311['DATETIMEINIT'] < '2021-01-01')
].reset_index(drop = True)

In [11]:
oakland_311_2020

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQCATEGORY,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Close_Time
0,1060662,2020-10-28 08:21:55,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.75323385547596, -122.19384238019262)",CLOSED,NaN,2020-10-30 18:00:34,6071993.226,2101162.977,CCD7,26Y,867 75TH AVE,Oakland,CA,2 days 09:38:39
1,1062200,2020-11-02 14:52:43,SeeClickFix,Graffiti in a Park,BLDGMAINT,"(37.812123848908904, -122.2964765366319)",CANCEL,NaN,NaT,6042737.826,2123155.443,CCD3,02Y,1672 13TH ST,Oakland,CA,NaT
2,1057742,2020-10-19 08:13:43,Phone,Tree - Limb Down,TREES,"(37.73314054386291, -122.13660759117438)",CLOSED,NaN,2020-10-21 13:09:41,6088409.592,2093553.319,CCD7,35Y,328 MARLOW DR,Oakland,CA,2 days 04:55:58
3,1064947,2020-11-12 15:01:32,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.76689859111662, -122.21140629165139)",CLOSED,NaN,2020-11-16 14:40:10,6067007.217,2106230.130,CCD5,26X,1058 50TH AVE,Oakland,CA,3 days 23:38:38
4,1060772,2020-10-28 11:48:51,Phone,Illegal Dumping � mattress/boxspring,ILLDUMP,"(37.76206734586794, -122.17270386111848)",CLOSED,NaN,2020-10-29 21:39:07,6078160.999,2104269.000,CCD6,30X,RITCHIE ST & BANCROFT AV,Oakland,CA,1 days 09:50:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103832,1074633,2020-12-17 16:03:48,Phone,Parking Meter - Other/Complex,METER_REPAIR,NaN,CLOSED,NaN,2021-01-20 10:49:59,NaN,NaN,NaN,NaN,MACARTHUR & CHAMPION,Oakland,CA,33 days 18:46:11
103833,1075542,2020-12-22 09:37:22,Voicemail,Recycling Hotline - Miscellaneous,RECYCLING,NaN,CLOSED,NaN,2020-12-22 09:37:31,NaN,NaN,NaN,NaN,ZZ,Oakland,CA,0 days 00:00:09
103834,1075690,2020-12-22 16:16:36,SeeClickFix,Graffiti in a Park,BLDGMAINT,NaN,WOCREATE,NaN,NaT,NaN,NaN,NaN,NaN,LAKESIDE PARK,Oakland,CA,NaT
103835,1075885,2020-12-23 12:45:16,Phone,Street Light - Outage/Damaged,ELECTRICAL,NaN,CLOSED,NaN,2020-12-24 08:27:50,NaN,NaN,NaN,NaN,4120 WALNUT ST,Oakland,CA,0 days 19:42:34
103836,1077468,2020-12-31 10:30:39,Phone,City Bldg - Sign,BLDGMAINT,NaN,CLOSED,NaN,2021-03-04 08:49:48,NaN,NaN,NaN,NaN,FIRE STATION 21,Oakland,CA,62 days 22:19:09

#### Get a count of all categories of requests in 2020

First, check all the unique values of REQCATEGORY

In [12]:
oakland_311_2020['REQCATEGORY'].unique()

array(['ILLDUMP', 'BLDGMAINT', 'TREES', 'OTHER', 'POLICE', 'STREETSW',
       'PARKING', 'PARKS', 'HE_CLEAN', 'METER_REPAIR', 'DRAINAGE',
       'GRAFFITI', 'ROW_STREETSW', 'TRAFFIC_ENGIN', 'ELECTRICAL',
       'RECYCLING', 'FIRE', 'TRAFFIC', 'CUT_CLEAN', 'SEWERS',
       'ROW_INSPECTORS', 'KOCB', 'CW_DIT_GIS', 'WATERSHED', 'SURVEY', nan,
       'ENVIRON_ENF'], dtype=object)

#### Aggregate the data, group them by columns.

In [13]:
oakland_311_2020.groupby(['REQCATEGORY'])

In [14]:
oakland_311_2020.groupby(['REQCATEGORY']).count()

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Close_Time
REQCATEGORY,,,,,,,,,,,,,,,,
BLDGMAINT,5196,5196,5196,5196,5141,5196,18,4480,5141,5141,5117,5125,5196,5196,5196,4480
CUT_CLEAN,403,403,403,403,401,403,19,339,401,401,401,401,403,403,403,339
CW_DIT_GIS,53,53,53,53,22,53,0,32,22,22,22,22,53,53,53,32
DRAINAGE,690,690,690,690,674,690,29,643,674,674,672,674,690,690,690,643
ELECTRICAL,2103,2103,2103,2103,2083,2103,1,1872,2083,2083,2073,2072,2103,2103,2103,1872
ENVIRON_ENF,53,53,53,53,52,53,2,50,52,52,52,52,53,53,53,50
FIRE,459,459,459,459,447,459,6,12,447,447,443,447,459,459,459,12
GRAFFITI,3551,3551,3551,3551,3547,3551,97,3425,3547,3547,3536,3537,3551,3551,3551,3425
HE_CLEAN,3034,3034,3034,3034,3003,3034,11,54,3003,3003,2998,3003,3034,3034,3034,54
ILLDUMP,39349,39349,39349,39349,39146,39349,47,35556,39146,39146,38335,38536,39348,39349,39349,35556
KOCB,568,568,568,568,557,568,0,434,557,557,555,557,568,568,568,434
METER_REPAIR,685,685,685,685,659,685,0,509,659,659,659,659,685,685,685,509
OTHER,7999,7999,7999,7999,7949,7999,4713,2118,7949,7949,7868,7877,7998,7999,7999,2118
PARKING,2746,2746,2746,2746,2729,2746,2,877,2729,2729,2686,2685,2746,2746,2746,877
PARKS,2654,2654,2654,2654,2610,2654,42,1074,2610,2610,2604,2607,2654,2654,2654,1074
POLICE,19913,19913,19913,19913,19625,19913,119,16647,19625,19625,19419,19505,19912,19913,19913,16647
RECYCLING,1676,1676,1676,1676,1371,1676,2,1673,1371,1371,1368,1371,1676,1676,1676,1673
ROW_INSPECTORS,2925,2925,2925,2925,2915,2925,209,81,2915,2915,2900,2900,2925,2925,2925,81
ROW_STREETSW,671,671,671,671,651,671,1,68,651,651,650,649,671,671,671,68
SEWERS,916,916,916,916,908,916,5,894,908,908,906,907,916,916,916,894
STREETSW,2864,2864,2864,2864,2834,2864,5,1363,2834,2834,2823,2830,2863,2864,2864,1363
SURVEY,1,1,1,1,1,1,0,0,1,1,1,1,1,1,1,0
TRAFFIC,1922,1922,1922,1922,1856,1922,1,1785,1856,1856,1852,1855,1922,1922,1922,1785
TRAFFIC_ENGIN,1277,1277,1277,1277,1260,1277,0,132,1260,1260,1250,1251,1277,1277,1277,132
TREES,2082,2082,2082,2082,2034,2082,3,1424,2034,2034,2027,2033,2081,2082,2082,1424
WATERSHED,38,38,38,38,34,38,12,25,34,34,34,34,38,38,38,25

Limit the dataframe to a column with zero null cells, probably using the 'REQUESTID' column.

Alos, create a new dataframe for it.

In [15]:
category_counts_2020 = oakland_311_2020.groupby(['REQCATEGORY']).count()
category_counts_2020

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Close_Time
REQCATEGORY,,,,,,,,,,,,,,,,
BLDGMAINT,5196,5196,5196,5196,5141,5196,18,4480,5141,5141,5117,5125,5196,5196,5196,4480
CUT_CLEAN,403,403,403,403,401,403,19,339,401,401,401,401,403,403,403,339
CW_DIT_GIS,53,53,53,53,22,53,0,32,22,22,22,22,53,53,53,32
DRAINAGE,690,690,690,690,674,690,29,643,674,674,672,674,690,690,690,643
ELECTRICAL,2103,2103,2103,2103,2083,2103,1,1872,2083,2083,2073,2072,2103,2103,2103,1872
ENVIRON_ENF,53,53,53,53,52,53,2,50,52,52,52,52,53,53,53,50
FIRE,459,459,459,459,447,459,6,12,447,447,443,447,459,459,459,12
GRAFFITI,3551,3551,3551,3551,3547,3551,97,3425,3547,3547,3536,3537,3551,3551,3551,3425
HE_CLEAN,3034,3034,3034,3034,3003,3034,11,54,3003,3003,2998,3003,3034,3034,3034,54
ILLDUMP,39349,39349,39349,39349,39146,39349,47,35556,39146,39146,38335,38536,39348,39349,39349,35556
KOCB,568,568,568,568,557,568,0,434,557,557,555,557,568,568,568,434
METER_REPAIR,685,685,685,685,659,685,0,509,659,659,659,659,685,685,685,509
OTHER,7999,7999,7999,7999,7949,7999,4713,2118,7949,7949,7868,7877,7998,7999,7999,2118
PARKING,2746,2746,2746,2746,2729,2746,2,877,2729,2729,2686,2685,2746,2746,2746,877
PARKS,2654,2654,2654,2654,2610,2654,42,1074,2610,2610,2604,2607,2654,2654,2654,1074
POLICE,19913,19913,19913,19913,19625,19913,119,16647,19625,19625,19419,19505,19912,19913,19913,16647
RECYCLING,1676,1676,1676,1676,1371,1676,2,1673,1371,1371,1368,1371,1676,1676,1676,1673
ROW_INSPECTORS,2925,2925,2925,2925,2915,2925,209,81,2915,2915,2900,2900,2925,2925,2925,81
ROW_STREETSW,671,671,671,671,651,671,1,68,651,651,650,649,671,671,671,68
SEWERS,916,916,916,916,908,916,5,894,908,908,906,907,916,916,916,894
STREETSW,2864,2864,2864,2864,2834,2864,5,1363,2834,2834,2823,2830,2863,2864,2864,1363
SURVEY,1,1,1,1,1,1,0,0,1,1,1,1,1,1,1,0
TRAFFIC,1922,1922,1922,1922,1856,1922,1,1785,1856,1856,1852,1855,1922,1922,1922,1785
TRAFFIC_ENGIN,1277,1277,1277,1277,1260,1277,0,132,1260,1260,1250,1251,1277,1277,1277,132
TREES,2082,2082,2082,2082,2034,2082,3,1424,2034,2034,2027,2033,2081,2082,2082,1424
WATERSHED,38,38,38,38,34,38,12,25,34,34,34,34,38,38,38,25

Subset just the REQUESTID column from it.

In [16]:
category_counts_2020 = category_counts_2020[['REQUESTID']].copy()
category_counts_2020

                REQUESTID
REQCATEGORY
BLDGMAINT            5196
CUT_CLEAN             403
CW_DIT_GIS             53
DRAINAGE              690
ELECTRICAL           2103
ENVIRON_ENF            53
FIRE                  459
GRAFFITI             3551
HE_CLEAN             3034
ILLDUMP             39349
KOCB                  568
METER_REPAIR          685
OTHER                7999
PARKING              2746
PARKS                2654
POLICE              19913
RECYCLING            1676
ROW_INSPECTORS       2925
ROW_STREETSW          671
SEWERS                916
STREETSW             2864
SURVEY                  1
TRAFFIC              1922
TRAFFIC_ENGIN        1277
TREES                2082
WATERSHED              38

#### Reset the index for category_counts_2020.

In [17]:
category_counts_2020 = category_counts_2020.reset_index()

In [18]:
category_counts_2020

       REQCATEGORY  REQUESTID
0        BLDGMAINT       5196
1        CUT_CLEAN        403
2       CW_DIT_GIS         53
3         DRAINAGE        690
4       ELECTRICAL       2103
5      ENVIRON_ENF         53
6             FIRE        459
7         GRAFFITI       3551
8         HE_CLEAN       3034
9          ILLDUMP      39349
10            KOCB        568
11    METER_REPAIR        685
12           OTHER       7999
13         PARKING       2746
14           PARKS       2654
15          POLICE      19913
16       RECYCLING       1676
17  ROW_INSPECTORS       2925
18    ROW_STREETSW        671
19          SEWERS        916
20        STREETSW       2864
21          SURVEY          1
22         TRAFFIC       1922
23   TRAFFIC_ENGIN       1277
24           TREES       2082
25       WATERSHED         38

#### Rename the columns to better represent current values

In [19]:
category_counts_2020.rename(columns = {'REQUESTID': 'CASE_COUNT'}, inplace = True)

Check the current table.

In [20]:
category_counts_2020

       REQCATEGORY  CASE_COUNT
0        BLDGMAINT        5196
1        CUT_CLEAN         403
2       CW_DIT_GIS          53
3         DRAINAGE         690
4       ELECTRICAL        2103
5      ENVIRON_ENF          53
6             FIRE         459
7         GRAFFITI        3551
8         HE_CLEAN        3034
9          ILLDUMP       39349
10            KOCB         568
11    METER_REPAIR         685
12           OTHER        7999
13         PARKING        2746
14           PARKS        2654
15          POLICE       19913
16       RECYCLING        1676
17  ROW_INSPECTORS        2925
18    ROW_STREETSW         671
19          SEWERS         916
20        STREETSW        2864
21          SURVEY           1
22         TRAFFIC        1922
23   TRAFFIC_ENGIN        1277
24           TREES        2082
25       WATERSHED          38

#### Sort the dataframe

In [21]:
category_counts_2020 = category_counts_2020.sort_values(by = ['CASE_COUNT'], ascending = False).copy()
category_counts_2020

       REQCATEGORY  CASE_COUNT
9          ILLDUMP       39349
15          POLICE       19913
12           OTHER        7999
0        BLDGMAINT        5196
7         GRAFFITI        3551
8         HE_CLEAN        3034
17  ROW_INSPECTORS        2925
20        STREETSW        2864
13         PARKING        2746
14           PARKS        2654
4       ELECTRICAL        2103
24           TREES        2082
22         TRAFFIC        1922
16       RECYCLING        1676
23   TRAFFIC_ENGIN        1277
19          SEWERS         916
3         DRAINAGE         690
11    METER_REPAIR         685
18    ROW_STREETSW         671
10            KOCB         568
6             FIRE         459
1        CUT_CLEAN         403
2       CW_DIT_GIS          53
5      ENVIRON_ENF          53
25       WATERSHED          38
21          SURVEY           1

Reset the index.

In [22]:
category_counts_2020 = category_counts_2020.reset_index(drop = True)
category_counts_2020

       REQCATEGORY  CASE_COUNT
0          ILLDUMP       39349
1           POLICE       19913
2            OTHER        7999
3        BLDGMAINT        5196
4         GRAFFITI        3551
5         HE_CLEAN        3034
6   ROW_INSPECTORS        2925
7         STREETSW        2864
8          PARKING        2746
9            PARKS        2654
10      ELECTRICAL        2103
11           TREES        2082
12         TRAFFIC        1922
13       RECYCLING        1676
14   TRAFFIC_ENGIN        1277
15          SEWERS         916
16        DRAINAGE         690
17    METER_REPAIR         685
18    ROW_STREETSW         671
19            KOCB         568
20            FIRE         459
21       CUT_CLEAN         403
22      CW_DIT_GIS          53
23     ENVIRON_ENF          53
24       WATERSHED          38
25          SURVEY           1

#### Visualize the table.

Visualize it in a bar chart in descending order.

In [23]:
alt.Chart(category_counts_2020).mark_bar().encode(
    
    x = 'CASE_COUNT',
    y = alt.Y('REQCATEGORY', sort = '-x')
    
).properties(

    title = 'Oakland 311 cases in 2020'
)

alt.Chart(...)

### Count how many indidents per year

Check the minimum date and maximum date of oakland_311

In [24]:
oakland_311['DATETIMEINIT'].min()

Timestamp('2009-07-01 08:05:36')

In [25]:
oakland_311['DATETIMEINIT'].max()

Timestamp('2021-10-31 01:08:19')

Because the data for 2009 and 2021 is not complete, will need to create a new dataframe with values only from 2010 to 2020.

In [26]:
oakland_311_complete = oakland_311[

    (oakland_311['DATETIMEINIT'] >= '2010-01-01') &
    (oakland_311['DATETIMEINIT'] < '2021-01-01')

].reset_index(drop = True)

#### A new dataframe for annual cases

Group by with datetimes

In [27]:
oakland_311_complete.groupby([pd.Grouper(key = 'DATETIMEINIT', axis = 0, freq = 'A')])

Create a new dataframe called annual_cases

In [28]:
annual_cases = oakland_311_complete.groupby([pd.Grouper(key = 'DATETIMEINIT', axis = 0, freq = 'A')]).count()

In [29]:
annual_cases

,REQUESTID,SOURCE,DESCRIPTION,REQCATEGORY,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Close_Time
DATETIMEINIT,,,,,,,,,,,,,,,,
2010-12-31,33647,33647,33647,33646,32622,33647,7,31504,32622,32622,30666,30566,33540,33647,33647,31504
2011-12-31,37995,37995,37995,37988,36988,37995,414,33952,36988,36988,34962,35021,37920,37995,37995,33952
2012-12-31,47294,47294,47294,47287,46233,47294,4776,36695,46233,46233,43922,44103,47220,47294,47294,36695
2013-12-31,56888,56888,56888,56884,55004,56888,6632,40366,55004,55004,51317,51416,56871,56888,56888,40366
2014-12-31,61826,61826,61826,61826,60769,61826,7395,45511,60769,60769,59102,59267,61799,61826,61826,45511
2015-12-31,66889,66889,66889,66869,65588,66889,7526,49238,65588,65588,64097,64316,66867,66889,66889,49238
2016-12-31,75932,75932,75932,75926,74372,75932,7681,54163,74372,74372,72466,72637,75908,75932,75932,54163
2017-12-31,80740,80740,80740,80740,79446,80740,8548,53035,79446,79446,76747,76967,80729,80740,80740,53035
2018-12-31,77851,77851,77851,77843,77066,77851,10313,50150,77066,77066,76193,76417,77829,77851,77851,50150
2019-12-31,110928,110928,110928,110911,109763,110928,6752,77520,109763,109763,104333,104765,110899,110928,110928,77520
2020-12-31,103837,103837,103837,103828,102518,103837,5349,75567,102518,102518,101260,101599,103832,103837,103837,75567

#### Subset just the REQUESTID column from it

In [30]:
annual_cases = annual_cases[['REQUESTID']].copy()

In [31]:
annual_cases

              REQUESTID
DATETIMEINIT
2010-12-31        33647
2011-12-31        37995
2012-12-31        47294
2013-12-31        56888
2014-12-31        61826
2015-12-31        66889
2016-12-31        75932
2017-12-31        80740
2018-12-31        77851
2019-12-31       110928
2020-12-31       103837

Reset the index.

In [32]:
annual_cases = annual_cases.reset_index()

In [33]:
annual_cases

   DATETIMEINIT  REQUESTID
0    2010-12-31      33647
1    2011-12-31      37995
2    2012-12-31      47294
3    2013-12-31      56888
4    2014-12-31      61826
5    2015-12-31      66889
6    2016-12-31      75932
7    2017-12-31      80740
8    2018-12-31      77851
9    2019-12-31     110928
10   2020-12-31     103837

Rename columns.

In [35]:
annual_cases.rename(columns = {'REQUESTID': 'CASE_COUNT'}, inplace = True)
annual_cases

   DATETIMEINIT  CASE_COUNT
0    2010-12-31       33647
1    2011-12-31       37995
2    2012-12-31       47294
3    2013-12-31       56888
4    2014-12-31       61826
5    2015-12-31       66889
6    2016-12-31       75932
7    2017-12-31       80740
8    2018-12-31       77851
9    2019-12-31      110928
10   2020-12-31      103837

#### Reframe the table

Create a new column called YEAR

In [36]:
annual_cases['YEAR'] = annual_cases['DATETIMEINIT'].dt.year
annual_cases

   DATETIMEINIT  CASE_COUNT  YEAR
0    2010-12-31       33647  2010
1    2011-12-31       37995  2011
2    2012-12-31       47294  2012
3    2013-12-31       56888  2013
4    2014-12-31       61826  2014
5    2015-12-31       66889  2015
6    2016-12-31       75932  2016
7    2017-12-31       80740  2017
8    2018-12-31       77851  2018
9    2019-12-31      110928  2019
10   2020-12-31      103837  2020

Subset the dataframe with just the YEAR and CASE_COUNT columns

In [37]:
annual_cases = annual_cases[['YEAR', 'CASE_COUNT']].copy()
annual_cases

    YEAR  CASE_COUNT
0   2010       33647
1   2011       37995
2   2012       47294
3   2013       56888
4   2014       61826
5   2015       66889
6   2016       75932
7   2017       80740
8   2018       77851
9   2019      110928
10  2020      103837

#### Visualize the table

In [50]:
alt.Chart(annual_cases).mark_bar().encode(
   
    x = 'YEAR:O',
    y = 'CASE_COUNT'
    
).properties(
    
    title = 'Oakland 311 calls: Number of cases by year'
    
)

alt.Chart(...)

### Median Close_Time by year

Get the median length of time it takes to close a case by year.

Create a new column to onvert Close_Time to seconds.

In [40]:
oakland_311_complete['CLOSE_TIME_SECONDS'] = oakland_311_complete['Close_Time'].dt.total_seconds()

Check the result.

In [41]:
oakland_311_complete.head()

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQCATEGORY,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Close_Time,CLOSE_TIME_SECONDS
0,927708,2019-07-24 07:34:04,SeeClickFix,Parking - Abandoned Vehicle,POLICE,"(37.83332450468423, -122.26187389355277)",CLOSED,NaN,2019-09-30 10:25:11,6052877.252,2130683.728,CCD1,12X,479 45TH ST,Oakland,CA,68 days 02:51:07,5885467.0
1,930512,2019-08-01 13:38:16,SeeClickFix,Illegal Dumping � mattress/boxspring,ILLDUMP,"(37.80947700189105, -122.29480799834606)",CLOSED,NaN,2019-08-04 10:38:05,6043201.257,2122182.593,CCD3,02Y,1117 CHESTER ST,Oakland,CA,2 days 20:59:49,248389.0
2,928898,2019-07-28 09:20:50,SeeClickFix,Human Waste in Public-Right-of-Way,OTHER,"(37.759826001279855, -122.16106799755731)",REFERRED,"ADVANCE CRIME SCENE, RESTORATION EST",NaT,6081509.580,2103393.102,CCD7,35X,8601 SENECA ST,Oakland,CA,NaT,NaN
3,930760,2019-08-02 10:13:45,Phone,City Bldg - Structural Issue,BLDGMAINT,"(37.74458491831174, -122.16914534319535)",CLOSED,NaN,2019-10-28 11:30:12,6079075.972,2097885.948,CCD7,32X,HOLLY MINI PARK,Oakland,CA,87 days 01:16:27,7521387.0
4,923520,2019-07-11 08:45:50,SeeClickFix,Streets - Potholes/Depression,STREETSW,"(37.780819708391476, -122.22030767672499)",CANCEL,NaN,NaT,6064527.852,2111345.419,CCD5,23X,E 18TH ST,Oakland,CA,NaT,NaN

Try to get the values of median length of Close_Time

In [42]:
median_close_time = oakland_311_complete.groupby(
    
    [pd.Grouper(key = 'DATETIMEINIT', axis = 0, freq = 'A'),]

).median()

In [43]:
median_close_time

                       SRX           SRY  CLOSE_TIME_SECONDS
DATETIMEINIT
2010-12-31    6.060859e+06  2.117159e+06            271677.0
2011-12-31    6.060215e+06  2.117932e+06            345433.0
2012-12-31    6.059595e+06  2.118648e+06            440519.0
2013-12-31    6.058980e+06  2.118543e+06            520046.0
2014-12-31    6.056907e+06  2.119122e+06            429433.0
2015-12-31    6.056996e+06  2.118844e+06            448167.5
2016-12-31    6.060108e+06  2.117722e+06            519751.0
2017-12-31    6.061456e+06  2.117413e+06            359105.0
2018-12-31    6.060343e+06  2.117892e+06            354149.5
2019-12-31    6.061430e+06  2.117556e+06            516791.5
2020-12-31    6.062429e+06  2.115930e+06            389632.0

Subset just the CLOSE_TIME_SECONDS from it.

In [44]:
median_close_time = median_close_time[['CLOSE_TIME_SECONDS']].reset_index()
median_close_time

   DATETIMEINIT  CLOSE_TIME_SECONDS
0    2010-12-31            271677.0
1    2011-12-31            345433.0
2    2012-12-31            440519.0
3    2013-12-31            520046.0
4    2014-12-31            429433.0
5    2015-12-31            448167.5
6    2016-12-31            519751.0
7    2017-12-31            359105.0
8    2018-12-31            354149.5
9    2019-12-31            516791.5
10   2020-12-31            389632.0

Create a new column for years.

In [45]:
median_close_time['YEAR'] = median_close_time['DATETIMEINIT'].dt.year

In [46]:
median_close_time

   DATETIMEINIT  CLOSE_TIME_SECONDS  YEAR
0    2010-12-31            271677.0  2010
1    2011-12-31            345433.0  2011
2    2012-12-31            440519.0  2012
3    2013-12-31            520046.0  2013
4    2014-12-31            429433.0  2014
5    2015-12-31            448167.5  2015
6    2016-12-31            519751.0  2016
7    2017-12-31            359105.0  2017
8    2018-12-31            354149.5  2018
9    2019-12-31            516791.5  2019
10   2020-12-31            389632.0  2020

Convert seconds to days.

In [47]:
median_close_time['CLOSE_TIME_DAYS'] = median_close_time['CLOSE_TIME_SECONDS'] / 60 / 60 / 24

In [48]:
median_close_time

   DATETIMEINIT  CLOSE_TIME_SECONDS  YEAR  CLOSE_TIME_DAYS
0    2010-12-31            271677.0  2010         3.144410
1    2011-12-31            345433.0  2011         3.998067
2    2012-12-31            440519.0  2012         5.098600
3    2013-12-31            520046.0  2013         6.019051
4    2014-12-31            429433.0  2014         4.970289
5    2015-12-31            448167.5  2015         5.187124
6    2016-12-31            519751.0  2016         6.015637
7    2017-12-31            359105.0  2017         4.156308
8    2018-12-31            354149.5  2018         4.098953
9    2019-12-31            516791.5  2019         5.981383
10   2020-12-31            389632.0  2020         4.509630

Subset the dataframe with only YEAR and CLOSE_TIME_DAYS columns

In [49]:
median_close_time = median_close_time[['YEAR', 'CLOSE_TIME_DAYS']].copy()
median_close_time

    YEAR  CLOSE_TIME_DAYS
0   2010         3.144410
1   2011         3.998067
2   2012         5.098600
3   2013         6.019051
4   2014         4.970289
5   2015         5.187124
6   2016         6.015637
7   2017         4.156308
8   2018         4.098953
9   2019         5.981383
10  2020         4.509630

Visualize the table.

In [52]:
alt.Chart(median_close_time[['YEAR', 'CLOSE_TIME_DAYS']]).mark_bar().encode(
    
    x = 'YEAR:O',
    y = 'CLOSE_TIME_DAYS',
    
).properties(
    
    title = 'Oakland 311 calls: Median resolution time'
    
)

alt.Chart(...)

### Merge two dataframes

Merge annual_cases and median_close_time.

In [53]:
annual_cases

    YEAR  CASE_COUNT
0   2010       33647
1   2011       37995
2   2012       47294
3   2013       56888
4   2014       61826
5   2015       66889
6   2016       75932
7   2017       80740
8   2018       77851
9   2019      110928
10  2020      103837

In [ ]:
median_close_time

    YEAR  CLOSE_TIME_DAYS
0   2010         3.144410
1   2011         3.998067
2   2012         5.098600
3   2013         6.019051
4   2014         4.970289
5   2015         5.187124
6   2016         6.015637
7   2017         4.156308
8   2018         4.098953
9   2019         5.981383
10  2020         4.509630

Combine them into a new table called annual_summary, using outer.

In [55]:
annual_summary = pd.merge(
    
    annual_cases,
    median_close_time,
    on = 'YEAR',
    how = 'outer',
    validate = '1:1'
    
)

In [56]:
annual_summary

    YEAR  CASE_COUNT  CLOSE_TIME_DAYS
0   2010       33647         3.144410
1   2011       37995         3.998067
2   2012       47294         5.098600
3   2013       56888         6.019051
4   2014       61826         4.970289
5   2015       66889         5.187124
6   2016       75932         6.015637
7   2017       80740         4.156308
8   2018       77851         4.098953
9   2019      110928         5.981383
10  2020      103837         4.509630

### Number of illegal dumping cases per year

When analyzing categories of incidents in 2020, illegal dumping topped the list. So I think it's worth looking into it.

Creating a dataframe with illegal dumping cases in 2010 to 2020 only.

In [57]:
oakland_311_illdump = oakland_311_complete[

    (oakland_311_complete['REQCATEGORY'] == 'ILLDUMP')

].reset_index(drop = True)

Take a look at the new dataframe.

In [58]:
oakland_311_illdump

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQCATEGORY,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Close_Time,CLOSE_TIME_SECONDS
0,930512,2019-08-01 13:38:16,SeeClickFix,Illegal Dumping � mattress/boxspring,ILLDUMP,"(37.80947700189105, -122.29480799834606)",CLOSED,NaN,2019-08-04 10:38:05,6043201.257,2122182.593,CCD3,02Y,1117 CHESTER ST,Oakland,CA,2 days 20:59:49,248389.0
1,917609,2019-06-21 15:54:26,Phone,Illegal Dumping � mattress/boxspring,ILLDUMP,"(37.75806464022221, -122.19285964422009)",CLOSED,NaN,2019-06-25 20:18:34,6072309.111,2102916.534,CCD7,26Y,1071 70TH AV,Oakland,CA,4 days 04:24:08,361448.0
2,922189,2019-07-08 09:40:24,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.84575105664107, -122.27540788644711)",CLOSED,NaN,2019-07-15 09:48:30,6049055.243,2135281.602,CCD1,10X,900 61ST ST,Oakland,CA,7 days 00:08:06,605286.0
3,931213,2019-08-04 13:15:20,SeeClickFix,Illegal Dumping � mattress/boxspring,ILLDUMP,"(37.752759938931675, -122.17458619019651)",CLOSED,NaN,2019-08-07 21:01:41,6077556.319,2100890.259,CCD7,34X,8678 HOLLY ST,Oakland,CA,3 days 07:46:21,287181.0
4,930920,2019-08-02 15:56:14,Phone,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.77106062092055, -122.1981930328978)",CLOSED,NaN,2019-08-08 15:53:15,6070853.413,2107675.791,CCD6,27Y,2031 55TH AV,Oakland,CA,5 days 23:57:01,518221.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275518,924459,2019-07-14 15:45:36,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.762545143201066, -122.15143362612166)",CLOSED,NaN,2019-07-16 07:58:21,6084311.723,2104333.755,CCD7,35X,8755 FONTAINE ST,Oakland,CA,1 days 16:12:45,144765.0
275519,933447,2019-08-11 08:47:21,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.823419279752805, -122.29021367522765)",CANCEL,NaN,NaT,6044625.363,2127232.962,CCD3,07X,1650 32ND ST,Oakland,CA,NaT,NaN
275520,933689,2019-08-12 08:43:43,Phone,Litter - Street Litter Container - Broken,ILLDUMP,"(37.77756456183414, -122.18860403773395)",CLOSED,NaN,2019-08-21 20:16:31,6073667.260,2109993.480,CCD6,29X,3050 55TH AV,Oakland,CA,9 days 11:32:48,819168.0
275521,920256,2019-07-01 09:57:03,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.826515130232444, -122.27881328138578)",CLOSED,NaN,2019-07-09 17:39:05,6047939.000,2128297.249,CCD3,07X,35TH ST & CHESTNUT ST,Oakland,CA,8 days 07:42:02,718922.0
275522,920576,2019-07-01 16:27:51,Phone,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.7697750419514, -122.18324682258614)",CLOSED,NaN,2019-07-01 20:08:55,6075164.293,2107129.719,CCD6,30X,66TH AVE & BANCROFT AVE,Oakland,CA,0 days 03:41:04,13264.0

Create a YEAR column for the dataframe.

In [64]:
oakland_311_illdump['YEAR'] = oakland_311_illdump['DATETIMEINIT'].dt.year
oakland_311_illdump

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQCATEGORY,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Close_Time,CLOSE_TIME_SECONDS,YEAR
0,930512,2019-08-01 13:38:16,SeeClickFix,Illegal Dumping � mattress/boxspring,ILLDUMP,"(37.80947700189105, -122.29480799834606)",CLOSED,NaN,2019-08-04 10:38:05,6043201.257,2122182.593,CCD3,02Y,1117 CHESTER ST,Oakland,CA,2 days 20:59:49,248389.0,2019
1,917609,2019-06-21 15:54:26,Phone,Illegal Dumping � mattress/boxspring,ILLDUMP,"(37.75806464022221, -122.19285964422009)",CLOSED,NaN,2019-06-25 20:18:34,6072309.111,2102916.534,CCD7,26Y,1071 70TH AV,Oakland,CA,4 days 04:24:08,361448.0,2019
2,922189,2019-07-08 09:40:24,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.84575105664107, -122.27540788644711)",CLOSED,NaN,2019-07-15 09:48:30,6049055.243,2135281.602,CCD1,10X,900 61ST ST,Oakland,CA,7 days 00:08:06,605286.0,2019
3,931213,2019-08-04 13:15:20,SeeClickFix,Illegal Dumping � mattress/boxspring,ILLDUMP,"(37.752759938931675, -122.17458619019651)",CLOSED,NaN,2019-08-07 21:01:41,6077556.319,2100890.259,CCD7,34X,8678 HOLLY ST,Oakland,CA,3 days 07:46:21,287181.0,2019
4,930920,2019-08-02 15:56:14,Phone,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.77106062092055, -122.1981930328978)",CLOSED,NaN,2019-08-08 15:53:15,6070853.413,2107675.791,CCD6,27Y,2031 55TH AV,Oakland,CA,5 days 23:57:01,518221.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275518,924459,2019-07-14 15:45:36,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.762545143201066, -122.15143362612166)",CLOSED,NaN,2019-07-16 07:58:21,6084311.723,2104333.755,CCD7,35X,8755 FONTAINE ST,Oakland,CA,1 days 16:12:45,144765.0,2019
275519,933447,2019-08-11 08:47:21,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.823419279752805, -122.29021367522765)",CANCEL,NaN,NaT,6044625.363,2127232.962,CCD3,07X,1650 32ND ST,Oakland,CA,NaT,NaN,2019
275520,933689,2019-08-12 08:43:43,Phone,Litter - Street Litter Container - Broken,ILLDUMP,"(37.77756456183414, -122.18860403773395)",CLOSED,NaN,2019-08-21 20:16:31,6073667.260,2109993.480,CCD6,29X,3050 55TH AV,Oakland,CA,9 days 11:32:48,819168.0,2019
275521,920256,2019-07-01 09:57:03,SeeClickFix,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.826515130232444, -122.27881328138578)",CLOSED,NaN,2019-07-09 17:39:05,6047939.000,2128297.249,CCD3,07X,35TH ST & CHESTNUT ST,Oakland,CA,8 days 07:42:02,718922.0,2019
275522,920576,2019-07-01 16:27:51,Phone,"Illegal Dumping - debris, appliances, etc.",ILLDUMP,"(37.7697750419514, -122.18324682258614)",CLOSED,NaN,2019-07-01 20:08:55,6075164.293,2107129.719,CCD6,30X,66TH AVE & BANCROFT AVE,Oakland,CA,0 days 03:41:04,13264.0,2019

Group by year and create a new dataframe.

In [65]:
illdump_counts = oakland_311_illdump.groupby(['YEAR']).count()
illdump_counts

,REQUESTID,DATETIMEINIT,SOURCE,DESCRIPTION,REQCATEGORY,REQADDRESS,STATUS,REFERREDTO,DATETIMECLOSED,SRX,SRY,COUNCILDISTRICT,BEAT,PROBADDRESS,City,State,Close_Time,CLOSE_TIME_SECONDS
YEAR,,,,,,,,,,,,,,,,,,
2010,13013,13013,13013,13013,13013,12754,13013,0,12628,12754,12754,12703,12721,12993,13013,13013,12628,12628
2011,12679,12679,12679,12679,12679,12511,12679,3,11524,12511,12511,12406,12445,12672,12679,12679,11524,11524
2012,15819,15819,15819,15819,15819,15653,15819,6,14583,15653,15653,15104,15203,15816,15819,15819,14583,14583
2013,20338,20338,20338,20338,20338,20190,20338,28,16590,20190,20190,18706,18758,20335,20338,20338,16590,16590
2014,21114,21114,21114,21114,21114,21080,21114,66,18552,21080,21080,20579,20641,21100,21114,21114,18552,18552
2015,24439,24439,24439,24439,24439,24368,24439,46,21446,24368,24368,23953,24036,24435,24439,24439,21446,21446
2016,31544,31544,31544,31544,31544,31453,31544,86,26245,31453,31453,30765,30849,31538,31544,31544,26245,26245
2017,33396,33396,33396,33396,33396,33341,33396,45,27407,33341,33341,32199,32328,33394,33396,33396,27407,27407
2018,30006,30006,30006,30006,30006,29909,30006,167,25625,29909,29909,29476,29618,29998,30006,30006,25625,25625
2019,33826,33826,33826,33826,33826,33631,33826,72,28914,33631,33631,31485,31671,33817,33826,33826,28914,28914
2020,39349,39349,39349,39349,39349,39146,39349,47,35556,39146,39146,38335,38536,39348,39349,39349,35556,35556

Subset just the one column, REQUESTID, from illdump_counts

In [66]:
illdump_counts = illdump_counts[['REQUESTID']].copy()
illdump_counts

      REQUESTID
YEAR
2010      13013
2011      12679
2012      15819
2013      20338
2014      21114
2015      24439
2016      31544
2017      33396
2018      30006
2019      33826
2020      39349

Reset the index.

In [67]:
illdump_counts = illdump_counts.reset_index()
illdump_counts

    YEAR  REQUESTID
0   2010      13013
1   2011      12679
2   2012      15819
3   2013      20338
4   2014      21114
5   2015      24439
6   2016      31544
7   2017      33396
8   2018      30006
9   2019      33826
10  2020      39349

Rename the column.

In [68]:
illdump_counts.rename(columns = {'REQUESTID': 'COUNT'}, inplace = True)
illdump_counts

    YEAR  COUNT
0   2010  13013
1   2011  12679
2   2012  15819
3   2013  20338
4   2014  21114
5   2015  24439
6   2016  31544
7   2017  33396
8   2018  30006
9   2019  33826
10  2020  39349

Visualize the table.

In [70]:
alt.Chart(illdump_counts).mark_bar().encode(
    
    x = 'YEAR',
    y = 'COUNT'
    
).properties(
    
    title = 'Oakland 311 illegal dumping cases per year'
    
)

alt.Chart(...)